.catalog {
  display: grid;
  grid-template-columns: 225px 1fr; 
  gap: 1.5rem;
  margin-top: 2rem;
  align-items: start; 
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 1.5rem;
  align-items: stretch; 
  justify-content: center;
}

.book-card {
  border: 2px solid #000000;
  border-radius: 8px;
  padding-top: 0.5rem;
  width: 225px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.book-card.selected {
  border: 3px solid #f880ce;
}

.book-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 2px solid #000000;
}

.book-price {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 16px;
}

.book-title {
  flex: 1;
  padding: 1rem;
  font-weight: 600;
  font-size: 18px;
}

.book-link {
  display: block;
  background: #000000;
  color: #ffffff;
  text-decoration: none;
  padding: 0.6rem;
  font-weight: 600;
  transition: background 0.2s;
}

.book-link:hover {
  background: #b7e857;
  color: black;
  border-radius: 0;
}

.new-button {
  width: 225px;
  border: 2px dashed #909090;
  border-radius: 8px;
  background-color: #f6f6f6;
  font-family: "Roboto Mono", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 470px;
}

.new-button:hover {
  background-color: #b7e857;
  cursor: pointer;
}

.new-button .plus {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  font-weight: 400;
  color: #606060;
}

.new-button .label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #606060;
}

.remove-button {
  padding: 0.5rem;
  border: none;
  color: #000;
  background: #ffd0ef;
  border-radius: 0 0 6px 6px;
  font-size: 14px;
  font-family: roboto mono, sans-serif;
}

.remove-button:hover {
  background: #f880ce;;
  cursor: pointer;
}



/* Modal styles */
.modal-content h2{
  text-align: center;
  margin-bottom: 1rem;
}

.modal-backdrop {
  position: fixed;
  background: rgb(0, 0, 0, 0.5);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: 500px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.book-form {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 0.8rem ;
  align-items: center;
}

.book-form label {
  text-align: left;
  font-weight: 600;
}

.book-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.book-form button {
  font-family: roboto mono, sans-serif;
  background: #1e1e1e;
  color: white;
  padding: 0.6rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.book-form button:hover {
  background: #b7e857;
  color: black;
}

.book-form input:focus {
  outline: none;
  border-color:#b7e857;
  box-shadow: 0 0 0 1px #b7e857;
}